@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin: 1rem;
}

img {
    border-radius: 0.5rem;
}

img.medium {
    max-width: 29rem;
    width: 100%;
}

img.large {
    width: 100%;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/*  Layout */ 

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100%;
}

/*           Header                 */
header {
    grid-area: header;
}

header a {
    color: #203040;
    padding: 1rem;
}

a.brand {
    color: #203040;
    font-size: 2rem;
    font-weight: 600;
}

header .search {
    border: 1px solid black;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #203040;
    color: #fff;
}

/* row */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

.row.top{
    align-items: flex-start;
}

.col-1 {
    flex: 1 1 25rem;
}

.col-2 {
    flex: 2 1 50rem;
}
/*    Card       */
.card {
    border: 0.1rem #c0c 0.5rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > * {
    margin-bottom: 0.5rem ;
}

.price {
    font-size: 2rem;
}

/* Ratings */
.rating span {
    color: #f0c040;
    margin: 0.1rem;
}



.rating span:last-child {
    color: #404040;
}

/* Card details */ 



/* navigation */

/* alert */
.success {
    color: #20a020;
}

.error {
    color: #a02020;
}

.btn {
    padding: 1rem;
    border-radius: 0;
    border: 0.1rem;
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid navy;
}

.btn__primary {
    background-color:navy;
}

button.block {
    width: 100%;
}


